body {
    font-family: Arial;
    margin: 0;
}

.wrapper {
    background-color: khaki;
    max-width: 800px;
    margin: 0 auto;
    border: 4px solid orange;
    /* border-bottom: 10px solid green; */
    /* border-left: 15px solid red; */
    box-sizing: border-box;
    margin-top: 60px;
}

.menu {
    background-color: #310d88;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* flex: 2; */
    
    /* flex-grow: 2; */
    

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.first {
    background-color: lightgrey;
    padding: 10px;
}

.second {
    background-color: lightpink;
    padding: 10px;
}

.third {
    background-color: lightskyblue;
    padding: 10px;
}

.first,
.second,
.third:hover {
    display: inline-block;
}

.logo {
    width: 40px;
    height: 40px;
    background: white;
}


/* Новые стили */
.main-picture {
    height: 300px;
    /* background-image: url(IMG_2937_567db8b4a91ab.jpeg);
    background-size: cover;
    background-position: center; */
    background: url(IMG_2937_567db8b4a91ab.jpeg);
}

.main {
    background-color: mediumseagreen;
}

.main {
    padding: 20px;
}

.footer {
    padding: 20px;
    background-color: pink;
}

.main-picture-text {
    background-color: white;
    padding: 3px;
    position: absolute;
}

.rist {
    width: 10px;
    height: 10px;
    background-size: red;
}

.info {
    display: flex;
    align-items: flex-start;
}

.info-icon {
    background: orange;
    padding: 5px;
}

.info-content {
    background: lightblue;
    padding: 5px;
    margin-left: 5px;
    display: none;
    position: absolute;
}

.info:hover .info-content {
    display: block;
}

.text {
    display: flex;
}